header
	h1 Borrowmeter
	#paybutton
		span #{balance}
		span +
form(method="post", action="/login/")
		input(type="text", name="user[name]")
		input(type="text", name="user[pass]")
		input(type="submit", value="Submit!")