html
	head
		title Borrowmeter
		link(rel="stylesheet", type="text/css", href="/style.css")
		meta(name="apple-mobile-web-app-capable", content="no")
		meta(name="viewport", content="user-scalable=no, width=device-width")
		script(src="//ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.js")
		script(src="/lib/jgestures.min.js")
	body(onload="setTimeout(function() { window.scrollTo(0, 1) }, 1);")!= body